*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-wrap: wrap;
}
.card{
    width: 20%;
    height: 450px;
    padding: 10px;
    flex-direction: row;
    overflow-y: auto;
    color: rgb(64, 0, 90);
    margin: 20px;
    background-color: rgb(222, 222, 139);
    border: 2px solid black;
}
.card::-webkit-scrollbar{
    width: 0px;
    /* background-color: rgb(190, 226, 255); */
}