*{
    margin: 0%;
    box-sizing: border-box;
    padding: 0%;
}
body{
    display: grid;
}
.full{
    display: flex;
    flex-direction: row;
}
.left{
    width: 80%;
    /*flex-direction: column;*/
    margin-bottom: 0%;
    padding-top: 20%;
    padding-bottom: 20%;
    font-family: sans-serif;
    color: white;
    background-image: url("../src/assets/bg2.jpg");
}

.left h1{
    margin: 0%;
    font-size: 5rem;
    padding: 10px;
    width: 100%;
    color: rgb(255, 255, 255);
}
.left p{
    padding: 10px;
    text-transform: capitalize;
    font-size: 2rem;
    color: rgb(255, 255, 255);

}
.right{
    flex-direction: column;
    width: 30%;
}
/* Right{
    height: 400px;

} */